@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Kedebideri:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Kedebideri", sans-serif;
}

@layer base {
    :root {
        /* Light Theme - Vibrant & Clean */
        --background: 210 40% 98%;
        /* Slate 50 */
        --background-2: 214 32% 91%;
        /* Slate 100 */
        --background-3: 213 27% 84%;
        /* Slate 200 */
        --foreground: 222 47% 11%;
        /* Slate 900 */
        --secondary: 214 32% 91%;
        --accent: 217 91% 60%;
        /* Vibrant Blue 500 */
        --accent-foreground: 210 40% 98%;
        --radius: 0.5rem;
        /* Rounded-lg */
    }

    .dark {
        /* Dark Theme - Deep & Technical */
        --background: 222 47% 11%;
        /* Slate 900 */
        --background-2: 217 33% 17%;
        /* Slate 800 */
        --background-3: 215 25% 27%;
        /* Slate 700 */
        --foreground: 210 40% 98%;
        /* Slate 50 */
        --secondary: 217 33% 17%;
        --accent: 221 83% 53%;
        /* Blue 600 */
        --accent-foreground: 210 40% 98%;
    }
}

@layer base {
    * {
        @apply border-border;
        font-family: "Kedebideri", sans-serif;
        font-optical-sizing: auto;
    }

    .font-overpass {
        font-family: "Overpass", sans-serif;
    }

    body {
        @apply bg-background text-foreground;
    }
}